@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'DM-sans', sans-serif;
}

.header {
  font-size: 24px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  border-radius: 4px;
  margin: 0 auto;
  padding: 40px 0;
}

.landingPage__funcionalities figure img{
  width: 50%;
  height: auto;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.landingPage__funcionalities figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

.column div span {
	position: absolute;
	bottom: -20px;
	left: 0;
	z-index: -1;
	display: block;
	width: 300px;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

figure:hover+span {
	bottom: -36px;
	opacity: 1;
}


@media screen and (max-width: 880px) {
  .wrapper {
    width: 50%;
  }
}

@media screen and (max-width: 520px) {
  .wrapper {
    width: 100%;
  }
}