body {
  background-image: url('backgroundImage.png');
  background-repeat: no-repeat;
  height: 100vh;
  background-color: gray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
      "News"
      "ListGames";
}

.News {
  grid-area: News;
}

.ListGames {
  grid-area: ListGames;
}

.carousel-inner{
  padding: 20px;
}

.canvasGame{
  border: red solid 2px;
  display: block;
  margin: auto auto;
}

.canvasGame2{
  border: green solid 2px;
}
